
/**********************************************
    flexbox Structure - Primary (Vertical, Top to bottom) not used with Bootstrap
***********************************************/

/**********************************************
    home "page" container not used with Bootstrap
***********************************************/

/**********************************************
    header container not used with Bootstrap
***********************************************/

/**********************************************
    flexbox Structure - Branding not used with Bootstrap
***********************************************/

/**********************************************
    flexbox Structure - Navigation not used with Bootstrap
***********************************************/

/**********************************************
    flexbox Structure - Home "page" not used with Bootstrap
***********************************************/

/**********************************************
    flexbox Structure - About "page" not used with Bootstrap
***********************************************/

/**********************************************
    flexbox Structure - Inventory "page"
***********************************************/

/**********************************************
    flexbox Structure - Contact "page"
***********************************************/

#contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.box01c,
.box02c,
.box03c {
    flex: none;
}

.box03c {
    align-self: flex-start;
}

#contactBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#email,
#ergoAddress {
    flex: none;
}

#email {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.sender,
.message,
.buttons {
    flex: none
}

/**********************************************
    flexbox Structure - Footer not used with Bootstrap
***********************************************/
