
/**********************************************
    flexbox Structure - Primary (Vertical, Top to bottom)
***********************************************/

#siteWrapper { /*  full site container   */
    display: flex; /*  block display (100% of available)   */
    flex-direction: column; /*  vertical main axis  */
    flex-wrap: nowrap; /*  no wrapping of columns  */
    justify-content: space-around; /*  equal spacing around  content items */
    align-items: center;
    align-content: center;
}

/*          the secondary containers             */

#homePage, /* home "page" container */
#about, /* about "page" container */
#inventory, /* inventory "page" container */
#contact, /* contact "page" container */
#footer { /* foot container (page quote and copyright) */
    flex: none;
}

/**********************************************
    home "page" container
***********************************************/

#homePage { /*  the container */
    display: flex; /*  block display (100% of available)   */
    flex-direction: column; /*  vertical main axis  */
    flex-wrap: nowrap; /*  no wrapping of columns  */
    justify-content: flex-start; /*  pressed to the top */
    align-items: center;
}

#header, /*  header item */
#homeContent { /*  content item */
    flex: none;
}

/**********************************************
    header container
***********************************************/

#header { /*  the container */
    display: flex; /*  block display (100% of available)   */
    flex-direction: column; /*  vertical main axis  */
    flex-wrap: nowrap; /*  no wrapping of columns  */
    justify-content: flex-start; /*  pressed to the top */
    align-items: center;
}

#branding, /*  branding item */
#navBar { /*  navigation item  */
    flex: none;
}

/**********************************************
    flexbox Structure - Branding
***********************************************/

#branding {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.chair,
.accentLine,
.tagline,
.divider {
    flex: none;
    text-align: center;
}

/**********************************************
    flexbox Structure - Navigation
***********************************************/

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.navItem {
    flex: none;
}

/**********************************************
    flexbox Structure - Home "page"
***********************************************/

#homeContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}

#img01h,
#box01h,
#box02h,
#box03h,
#img02h,
#img03h,
#img04h,
#box04h {
    flex: none;
}

/**********************************************
    flexbox Structure - About "page"
***********************************************/

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info {
    flex: none;
}

/**********************************************
    flexbox Structure - Inventory "page"
***********************************************/

#inventory {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#inventoryContent {
    flex: none;
}

#inventpryContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

.invtry {
    flex: none;
}

/**********************************************
    flexbox Structure - Contact "page"
***********************************************/

#contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.box01c,
.box02c,
.box03c {
    flex: none;
}

.box03c {
    align-self: flex-start;
}

#contactBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#email,
#ergoAddress {
    flex: none;
}

#email {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.sender,
.message,
.buttons {
    flex: none
}

/**********************************************
    flexbox Structure - Footer
***********************************************/

#footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#serviceMarking,
#credits {
    flex: none;
}

#serviceMarking {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.copyright,
.phoneEmail,
.icons {
    flex: none;
}

#iconList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.twitter,
.facebook,
.linkedin {
    flex: none;
}

#credits {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.author,
.citation {
    flex: none;
}