/* Global Layout Set-up */

/*******************************************
********************************************
        Establish colors
********************************************
********************************************/

:root {
    --hmlt-bkg-color: #CFD8DC; /*  Google Material/Style/Color - Teal 100  --  home light bkg  */
    --hmdk-bkg-color: #4DB6AC; /*  Google Material/Style/Color - Teal 300  --  home dark bkg  */
    --hmac-bkg-color: #00897B; /*  Google Material/Style/Color - Teal 600  --  home accent bkg  */
    --ablt-bkg-color: #CFD8DC; /*  Google Material/Style/Color - Cyan 100  --  about light bkg  */
    --abdk-bkg-color: #4DD0E1; /*  Google Material/Style/Color - Cyan 300  --  about dark bkg  */
    --abac-bkg-color: #00ACC1; /*  Google Material/Style/Color - Cyan 600  --  about accent bkg  */
    --cilt-bkg-color: #CFD8DC; /*  Google Material/Style/Color - Indigo 100  --  inventory light bkg  */
    --cidk-bkg-color: #7986CB; /*  Google Material/Style/Color - Indigo 300  --  inventory dark bkg  */
    --ciac-bkg-color: #3949AB; /*  Google Material/Style/Color - Indigo 600  --  inventory accent bkg  */
    --ciaa-bkg-color: rgba(26, 35, 126, 0.75); /*  Google Material/Style/Color - Indigo 900 (with .75 opacity)  --  inventory slide in captions  */
    --crtf-bkg-color: rgb(33, 33, 33); /*  Google Material/Style/Color - Grey 900 (with full opacity)  --  inventory slide in captions  */
    --crta-bkg-color: rgba(33, 33, 33, 0.75); /*  Google Material/Style/Color - Grey 900 (with .75 opacity)  --  inventory slide in captions  */
    --mdlt-bkg-color: #F5F5F5; /*  Google Material/Style/Color - Grey 100  --  modal light bkg  */
    --mddk-bkg-color: #E0E0E0; /*  Google Material/Style/Color - Grey 300  --  modal dark bkg  */
    --mdac-bkg-color: #757575; /*  Google Material/Style/Color - Grey 600  --  modal accent bkg  */
    --cnlt-bkg-color: #CFD8DC; /*  Google Material/Style/Color - Blue Grey 100  --  contact light bkg  */
    --cndk-bkg-color: #90A4AE; /*  Google Material/Style/Color - Blue Grey 300  --  contact dark bkg  */
    --cnac-bkg-color: #546E7A; /*  Google Material/Style/Color - Blue Grey 600  --  contact accent bkg  */
    --mail-foc-color: #FFFFFF;
    --brdr-pri-color: #FFFFFF;
    --brdr-sec-color: #000000;
    --brdr-act-color: #FFEB3B;
    --brdr-eml-color: #5E97B0;
    --font-pri-color: #000000;
    --font-sec-color: #FFFFFF;
    --font-ac1-color: #D84315;
    --font-ac2-color: #F9A825;
    --font-nav-color: #BDBDBD;
    --bttn-sub-color: #4CAF50;
    --bttn-res-color: #FDD835;
    --navi-act-color: #FAFAFA; /*  Google Material/Style/Color - Grey 50  --  navigation active bkg  */
}

* {
    box-sizing: border-box;
}

html,
body {
    position: relative; /*  needed for data-spy     */
}

.siteWrapper {
    max-width: 1600px;
    width: 100%;
}

.siteWrapper a {
    color: var(--font-sec-color); /*  set all hyperlink text to secondary font color */
    text-decoration: none; /*  eliminate default underline from anchor tags */
}

.siteWrapper a:hover {
    color: var(--font-ac1-color); /*  set all hyperlink text to accent font color - on hover */
}

img {
    max-width: 450px;
}

/*******************************************
********************************************
    Set Font Styles
********************************************
********************************************/

.nav {
    font-family: 'Exo', sans-serif;
}

.tag {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: var(--font-ac2-color);
}

#homePage,
#aboutPage,
#inventoryPage,
#contactPage,
#footer {
    font-family: 'Play', sans-serif;
    font-size: small;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

a {
    text-decoration: none; /*  remove default underline from anchor tags   */
}

a, p {
    line-height: 1.25em;
}

/*******************************************
    End of Set Font Styles
********************************************/

/*********************************************
    branding & nav styling - highly customized for Bootstrap
**********************************************/

.navbar { /*  override Bootstrap  */
    min-height: 0;
    margin: 0;
    border: none;
}

.navbar-inverse { /*  override Bootstrap  */
    background-image: none;
}

ul.nav.nav-pills.nav-justified li.active a { /*  override Bootstrap  */
    background-image: none;
    background-repeat: no-repeat;
    box-shadow: none;
    background-color: var(--navi-act-color);
    color: var(--font-pri-color);
}

.nav-pills li a { /*  override Bootstrap  */
    border-radius: 0;
}

.navbar-header { /*  override Bootstrap  */
    float: none;
}

.navbar-header a img.chair { /*  override Bootstrap  */
    padding-top: 3px;
}

.navbar-header h4.tag { /*  override Bootstrap  */
    color: var(--font-ac2-color);
    margin-bottom: 2px;
}

.navbar-header h3.bizName { /*  override Bootstrap  */
    color: var(--font-pri-color);
    margin-top: 2px;
}

.navbar-brand { /*  override Bootstrap  */
    float: none;
    height: 160px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

/*********************************************
    common to all pages
**********************************************/

#home,
#about,
#inventory,
#contact {
    padding-top: 188px; /*   padding for nav branding     */
}

/*********************************************
    home page
**********************************************/

#boxBannerHome {
    height: 60px;
    background-color: var(--hmac-bkg-color);
}

#imgInterraC {
    object-position: center;
    object-fit: cover;
    border: 2px solid var(--brdr-pri-color);
}

#boxIntro {
    padding: .5em 1em;
    background-color: var(--hmdk-bkg-color);
    color: var(--font-pri-color);
    border: 2px solid var(--brdr-pri-color);
}

#boxIntro h3 {
    color: var(--font-sec-color);
}

#boxIntro h4 a {
    color: var(--font-sec-color);
}

#boxMinimal,
#boxHomeContact {
    text-align: center;
    background-color: var(--hmdk-bkg-color);
    color: var(--font-sec-color);
    border: 2px solid var(--brdr-pri-color);
    margin-top: -0.85em;
    padding: 24px 0;
}

#boxMinimal {
    padding: 1em 0;
}

#boxContact {
    padding: 1.74em 0;
}

#imgMktCluster {
    padding: 0;
    margin-top: -80px;
    overflow: hidden;
    border: 2px solid var(--brdr-pri-color);
}

#imgPlanView {
    margin-top: -303px;
}

#imgPlans {
    margin-top: -205px;
    border: 2px solid var(--brdr-pri-color);
}

#boxEmailPhone {
    margin-top: -12px;
    text-align: center;
    background-color: var(--hmdk-bkg-color);
    border: 2px solid var(--brdr-pri-color);
    color: var(--font-pri-color);
}

#boxEmailPhone a {
    color: var(--font-sec-color);
    padding: .25% 0 .3% 0;
}

#boxEmailPhone a:hover {
    color: var(--font-ac1-color);
}


/*********************************************
    about page
**********************************************/

#bannerAbout {
    margin: 0;
    padding: 0;
    background-color: var(--abac-bkg-color);
    color: var(--font-sec-color);
    text-align: center;
}

#boxIntroAbout {
    margin: 0;
    background-color: var(--abdk-bkg-color);
    border: 2px solid var(--brdr-pri-color);
    color: var(--font-pri-color);
    padding: 2.8em;
}

#imgOpenOffice {
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid var(--brdr-pri-color);
}

#bannerTeam {
    text-align: center;
}

/*********************************************
    inventory page
**********************************************/

#bannerInventory {
    margin: 0;
    padding: 0;
    background-color: var(--ciac-bkg-color);
    color: var(--font-sec-color);
    text-align: center;
}

figure img {
    overflow: hidden;
    padding: 2%;
    background-color: var(--cidk-bkg-color);
    border: solid 1px var(--brdr-pri-color);
    margin: 0;
}

/*********************************************
    slide-in captions (screen shots & docs)
**********************************************/

figure {
    display: inline-block;
    position: relative;
}

figcaption {
    position: absolute;
    background: var(--ciac-bkg-color);
    color: var(--font-sec-color);
    padding: 1% 4%;
    opacity: 0;
    top: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

figure:hover figcaption {
    opacity: .6;
    cursor: pointer;
}

figure:hover {
    cursor: pointer;
}

figure:before {
    content: "?";
    position: absolute;
    font-weight: 800;
    background: var(--ciac-bkg-color);
    background: var(--ciaa-bkg-color);
    text-shadow: 0 0 5px grey;
    color: var(--font-sec-color);
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    -moz-transition: all 0.6s ease;
    opacity: 0.75;
}

figure:hover:before {
    opacity: 0;
}

.cap-top:before {
    top: 10px;
    left: 10px;
}

.cap-top figcaption {
    left: 0;
    top: -30%;
}

.cap-top:hover figcaption {
    top: 0;
}

/**********************************************
    modal styling
**********************************************/

/* The Modal (background) */

.modal-dialog {
    z-index: 2000; /* Sit on top */
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -300px;
    overflow: auto; /* Enable scroll if needed */
    padding: 1%;
    background: var(--mdlt-bkg-color);
    border-width: 5px;
    border-style: outset;
    border-left: var(--mdac-bkg-color);
    border-top: var(--mdac-bkg-color);
    border-right: var(--mddk-bkg-color);
    border-bottom: var(--mddk-bkg-color);
    opacity: 1;
}

.modal-header {
    display: inline-block;
    text-align: left;
}

.modal-header button {
    text-align: right;
    margin-bottom: 2%;
}

.modal-body img.primaryPic {
    display: block;
    border: solid 2px var(--brdr-pri-color);
    margin: 0 auto;
    padding-bottom: 2%;
}

.secContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.secondaryPic {
    flex: none;
}

.secContainer img {
    display: inline-block;
}

.secContainer img:hover {
    -ms-transform: scale(4, 4); /* IE 9 */
    -webkit-transform: scale(4, 4); /* Chrome, Safari, Opera */
    transform: scale(4, 4);
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #F44336;
    opacity: 1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.5s;
}

.close:hover,
.close:focus {
    color: #1B5E20;
    text-decoration: none;
    cursor: pointer;
}

.modal-footer {
    text-align: left; /*  override the default right alignment */
}

/**********************************************
    end of modal styling
**********************************************/

/*********************************************
    contact page
**********************************************/

#bannerContact {
    margin: 0;
    padding: 0 auto;
    background-color: var(--cnac-bkg-color);
    color: var(--font-sec-color);
    text-align: center;
}

#boxMap {
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 2px solid var(--font-nav-color);
}

#boxContact {
    padding: 9px;
    background-color: var(--cndk-bkg-color);
    color: var(--font-sec-color);
    border: 2px solid var(--brdr-pri-color);
}

.invitation {
    padding: .25% .5%;
    text-align: left;
}

input,
textarea {
    font-size: 1em;
    font-weight: 500;
    background: linear-gradient(to bottom right, #ECEFF1, #B0BEC5);
    border: 1px solid #C1DEEB;
    text-overflow: "";
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5), 2px 2px 1px rgba(50, 50, 50, 0.3) inset, -1px -1px 1px rgba(250, 250, 250, 0.7) inset;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    background: var(--mail-foc-color);
    border-color: var(--brdr-eml-color);
    transition: border-color .4s, background-color .4s;
}

.sender input {
    width: 15em;
}

button {
    text-align: center;
    cursor: pointer;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    color: var(--font-pri-color);
}

.submit {
    background-color: var(--bttn-sub-color);

}

.reset {
    background-color: var(--bttn-res-color);

}

#ergoAddress {
    padding-right: 10em;
}

/**********************************************
    footer
***********************************************/

#footer {
    position: relative;
    margin-top: 3%;
    padding: 3px 5px;
    background-color: var(--cndk-bkg-color);
}

ul#iconList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#iconList li {
    display: inline;
    text-align: center;
}

li.facebook,
li.linkedin {
    padding-left: 5%;
}

#ergoBiz,
#credits {
    padding: 0 15px;
}

#credits {
    font-size: 75%;
}

/*******************************************
********************************************
********************************************

    Responsive CSS

********************************************
********************************************
********************************************/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    div[class^="col"] {
        padding: 1px 1px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    div[class^="col"] {
        padding: 2px 2px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    div[class^="col"] {
        padding: 5px 5px;
    }
}

/* google maps API key: AIzaSyBWihhJbB4vAXEG3Wfg_5RFGX0Vn4CU7Zc
